body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.main {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #00264d;
    color: white;
    padding: 15px;
    height: 100vh;
}

.section {
    margin-bottom: 15px;
}

.sidebar h3 {
    border-bottom: 1px solid white;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

button {
    width: 95%;
    padding: 10px;
    margin: 5px;
    background: #004080;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #001f4d;
}

.hidden {
    display: none;
}

.logout {
    background: red;
}

ul {
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
}

.ads {
    background: #e6f0ff;
    padding: 10px;
    margin-top: 10px;
}
